.rodape__principal-navMap-link {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}

.rodape__principal-navMap-link {
	font-size: .9em;
}

.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.navmap-list-title + .rodape__principal-navMap-link {
	margin-top: 0;
}

.navmap-list-title-bancoDeDados { color: #EC6E5A; border-left: 4px solid #EC6E5A; }
.navmap-list-title-framework { color: #AD85BF; border-left: 4px solid #AD85BF; }
.navmap-list-title-frontend { color: #5EC6F3; border-left: 4px solid #5EC6F3; }
.navmap-list-title-backend { color: #25D285; border-left: 4px solid #25D285; }

.rodape__principal-navMap-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 260px;
}

@media(max-width: 768px) {

	.rodape__principal-navMap-list {
		height: auto;
	}
}